### ignore all ###
/*
/.**

### except following files ###
!/.gitignore
!/README.md
!/src/
!/src/**
!/tree_all/

#### ignore all files in /tree_all/ ####
/tree_all/*
#### except following files ####
!/tree_all/src/
!/tree_all/src/**
!/tree_all/README.md
